.classpath
.project
.settings      


*.mdb

*.ldb

*.sln
*.csproj


/Client/excel/Temp/

/Client/excel/obj/

/Client/excel/.vs/
/Client/excel/Library/
/Tools/LoggerServer/LoggerServer/bin/
/Tools/LoggerServer/LoggerServer/obj/
/Client/excel/Assets/Resources/XLuaCode/.idea/
/xLua-Master-pbc/

.DS_Store

.DS_Store?
*.db
*.ipch
*.iobj
*.ipdb
*.pdb
*.log
*.tlog
*.obj
*.idb
Client/excel/.vs/excel/v14/.suo
